@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'inter', sans-serif;
}

@layer components {
    .btn {
        @apply focus:ring-4 focus:outline-none focus:ring-offset-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 flex justify-center items-center;
    }
    .btn-primary {
        @apply text-white bg-primary hover:bg-opacity-95 focus:ring-primary-20 hover:bg-primary-70 transition-all duration-150;
    }
    .nav-mobile {
        @apply flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-base md:font-medium;
    }
    .nav-content-current {
        @apply block py-2 pr-4 pl-3 text-white bg-primary rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-primary;
    }
    .nav-content {
        @apply block py-2 pr-4 pl-3 text-primary-90 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-primary-40 md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
    }
    .search {
        @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
}

::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: #F9F9F9;
  }
  
  ::webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(0 0 0 / 20%);
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #092647;
    border-radius: 10px;
    border: 1px solid #F9F9F9;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: @apply bg-primary;
  }
  
  ::selection {
    background-color: #092647;
    color: #fff;
    border-radius: 50%;
  }